services:
  postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: dev-user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dev_db
    ports:
      - 5432:5432
    expose:
      - "5432"
    volumes:
      - db-data:/var/lib/postgresql/data:cached

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PASSWORD}
    ports:
      - 5050:80
    depends_on:
      - postgres

  collab-server:
    container_name: collab-server
    build:
      context: collab-server
      dockerfile: Dockerfile
    command: python app/main.py
    tty: true
    volumes:
      - ./collab-server:/collab-server/:cached
      - ./.docker/.ipython:/root/.ipython:cached
    environment:
      PYTHONPATH: .
    depends_on:
      - "postgres"
    ports:
      - 8080:8080
    restart: always

  collab-ws:
    build:
      context: ./collab-ws
      dockerfile: Dockerfile
    working_dir: /app # Match the working directory in the Dockerfile
    tty: true
    ports:
      - 3000:3000 # Map the exposed port
    depends_on:
      - postgres # Add dependency if the service needs the database

volumes:
  db-data:
